.sidenav{
background-color: red;
position: fixed;
height: 100%;
padding-top: 25px;
width: 75px;
top: 0;
left: 0;
z-index: 1;
transition: 0.5s;
overflow-x: hidden;
button{
  margin-left: 25px;
}
&-content {
  display: none;
  transition: 0.5s;
}
&_date{
  margin: 50px 0;
  padding-left: 25px;
  p{
    margin: 0;
    font-size: 26px;
  }
  span{
    color: #9EA1A8;
    font-size: 14px;
  }
}

&-buttons{
  margin: 20px 0;
  width: 100%;
  font-size: 12px;
  &:hover{
    transition: background-color 1s ease-out;
    background-color: blue;
  }
  &__content{
    padding: 10px 25px;
    &-data{
      display: flex;
      align-items: center;
      gap: 15px;
    }
    &-submenu{
      &__link{
        &:hover{
          background-color: olive;
        }
      }
    }
  }
}
}

.sidenav.isOpened{
  .sidenav-content{
    display: block;
  }
  width: 250px;
  transition: 0.5s;
}
