<button (click)="isExpanded = !isExpanded" class="sidenav-toggle-button">
  <img src="../../../assets/hamburger-menu.svg" class="icon" />
</button>
<div class="sidenav" [ngClass]="isExpanded ? 'isOpened' : null">
  <div class="sidenav-content" *ngIf="isExpanded">
    <div class="sidenav_date">
      <span>Czwartek</span>
      <p>23 Września</p>
      <span>2020</span>
    </div>
    <div class="sidenav-buttons" *ngFor="let button of sidenavButtons">
      <div class="sidenav-buttons__content">
          <div class="sidenav-buttons__content-data">
            <a [routerLink]="button.route" routerLinkActive="active-route">
              <img src="{{button.imagePath}}" class="icon-small" />
              <span>{{button.name}}</span>
            </a>
          </div>
         <div *ngIf="button.submenus" class="sidenav-buttons__content-submenu">
          <ul *ngFor="let submenu of button.submenus">
            <li>
              <a [routerLink]="submenu.route" routerLinkActive="active-route" class="sidenav-buttons__content-submenu__link">
                {{submenu.name}}
              </a>
            </li>
          </ul>
         </div>
      </div>
    </div>
  </div>
</div>
