<div class="navbar-top-container">
<div class="navbar-top_actions">
  <div class="navbar-tile-medium">
    <span>
    Zlecenia
  </span>
   <span>
     245
   </span>
  </div>
  <div class="navbar-tile-medium">
    <span>
      Depozyty
    </span>
    <span>245</span>
  </div>
  <div class="navbar-tile-medium">
    <span>
      Zamówienia
    </span>
    <span>
      245
    </span>
  </div>
</div>
<div class="navbar-top_user">
  <div class="navbar-tile-small">
    <img src="../../../assets/bell.svg" class="icon-small">
  </div>
  <div class="navbar-tile-large">
    <span>
      Warsztat A12
    </span>
  </div>
</div>
</div>
