/* You can add global styles to this file, and also import other style files */
*{
  font-family: 'Rubik', sans-serif;
}

/*
** VARIABLES
*/

$color-blue-primary: #5E92FC;
$color-gray-1: #DBDDE0;
$color-gray-2: #F3F4F5;
$color-gray-3: #6E7075;
$color-gray-4: #9EA1A8;

/*
** GLOBAL STYLES
*/

.icon{
  width: 30px;
  height: 30px;
}

.icon-small{
  width: 24px;
  height: 24px;
}

a{
  text-decoration: none;
  color: inherit;
}
